# .env.example


# Database
POSTGRES_DB=userdb
POSTGRES_USER=devops
POSTGRES_PASSWORD=devops123

# Services
USER_SERVICE_URL=http://user-service:8001
GATEWAY_URL=http://api-gateway:8000

# Load simulator tuning
REQUEST_INTERVAL=0.8
STARTUP_DELAY=8